<!-- get local vars -->

<% if local_assigns.has_key? :right_messages %>
  <% messages = right_messages %>


<!-- just for the label ... -->

<div class="form-group">
  <label for="InputMessage">Your messages</label>
</div>

<!-- messages -->

<% messages.each do |msg| %>
  <% sender = User.find(msg.sender_id) %>
  <% recipient = User.find(msg.recipient_id) %>

  <% @left = (sender == current_account.user ? false : true) %>

  <div class="row">
    <div class="message-div">
      <span class="<%= 'float-it' if @left %>">
        <span class="message-text">
          <% if @left %>"<%= msg.content %>"<% end %>
        </span>

        <% if sender.user_pictures.first.present? %>
          <%= image_tag sender.user_pictures.first.file.url(:thumb), class: ["img-avatar3",('float-it' if @left)] %>
        <% end %>

        <span class="message-text">
          <% if @left == false %>"<%= msg.content %>"<% end %>
        </span>
      </span>
    </div>
  </div>

<% end %>

<!-- new message --><br><br>

<%= render partial: 'messages/form', locals: { first_message: messages.first }  %>

<% end %>
