<%= simple_form_for([user, UserPicture.new], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <p>
    <%= f.label :file %>
    <%= f.file_field :file, required: true %>
  </p>

  <%= f.button :submit, disabled: true, :value => "add picture" %>
  <br><br>
<% end %>
