<div>
  <h1 class="text-center">You can edit your profile</h1>
  <div class="container">

    <!-- PICTURES SECTION -->
      <!-- LIST PICTURES + DELETE -->

    <div class="row">
      <div vlass="col-sm-offset-4">
        <% @user.user_pictures.each do |upic| %>
          <div class="col-sm-2 col-lg-2">
          <%= image_tag upic.file.url(:thumb) %>

            <%= link_to ("<i class='fa fa-times fa-lg' style='color: red;'> </i>").html_safe, user_user_picture_path(@user, upic), :method=> :delete %>

          </div>
        <% end %>
      </div>
    </div>

      <!-- ADD NEW PICTURE -->

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= render partial: 'user_pictures/new', locals: { user: @user } %>
      </div>
    </div>

    <!-- DETAILS SECTION -->

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<!-- JQUERY SECTION -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(
    function(){
        $('input:file').change(
            function(){
                if ($(this).val()) {
                    $('input:submit').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled');
                } else {
                    $('input:submit').attr('disabled',true);
                }
            }
            );
    });
  <% end %>
<% end %>


