<div>
  <h1 class="text-center">You can edit your profile</h1>
  <div class="container">

    <!-- PICTURES SECTION -->
      <!-- LIST PICTURES + DELETE -->

    <div class="row">
      <div vlass="col-sm-offset-4">
        <% @user.user_pictures.each do |upic| %>
          <div class="col-sm-2 col-lg-2">
          <%= image_tag upic.file.url(:thumb) %>

            <%= simple_form_for([@user, upic], method: :delete) do |f| %>
              <%= f.button :submit, :value => "delete" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

      <!-- ADD NEW PICTURE -->

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= render partial: 'user_pictures/new', locals: { user: @user } %>
      </div>
    </div>

    <!-- DETAILS SECTION -->

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
