<nav class="navbar navbar-default navbar-wagon" style="<%= 'background:#32B796' if @offer_side %> "role="navigation">
  <!-- TODO: clean up this function! -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "fn_logo_white.png", id: 'navbar-brand-firstimage' %><%= image_tag "fn_name_white.png" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- TODO: replace with authorization -->
        <% if account_signed_in? && current_account.user.present? && current_account.user.valid? %>

          <!-- messages -->
          <li>
            <%= link_to user_messages_path(current_account.user.id) do %>
            <% @news = @new_messages.size > 0 ? @new_messages.size.to_s : "" %>

              <i class="fa fa-envelope-o"></i>
              <% if @news.to_i > 0 %>
                <span class="numberCircle"><%= @news %></span>
              <% end %>
              <%= t(".messages", default: "Messages") %>
            <% end %>
          </li>

          <!-- dropdown -->
          <li class="dropdown">

            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>


              <% if current_account.user.user_pictures.first.present? %>
                <%= image_tag current_account.user.user_pictures.first.file.url(:thumb), class: "img-avatar" %>
               <% end %>

              Profile <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">

              <!-- profile -->
              <li>
                <%= link_to edit_user_path(current_account.user.id) do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "My Profile" %>
                <% end %>
              </li>

              <!-- flat -->
              <li>
                <%= link_to myrooms_user_buildings_path(current_account.user.id) do %>
                  <i class="fa fa-home"></i>  <%= t ".profile", default: "My Rooms" %>
                <% end %>
              </li>

              <!-- sign out -->
              <li>
                <%= link_to destroy_account_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Sign out" %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>

          <!-- if not signed in -->
          <li>
            <%= link_to t(".sign_up", default: "Sign up"), new_account_registration_path %>
          </li>
          <li>
            <%= link_to t(".sign_in", default: "Sign in"), new_account_session_path %>
          </li>
        <% end %>
        <li>
          <%= link_to t(".top_call_to_action", default: "Rent your flat"), ((account_signed_in? && current_account.user.present? && current_account.user.valid?) ? new_user_building_path(current_account.user.id) : new_account_session_path), class: "btn" %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
