<!-- BUILDING FORM -->

  <!-- optional name of building -->

  <div class="row">
    <%= f.input :name, label: "Optional building name", input_html: { id: 'optional_name' }, required: false %>
  </div>

  <!-- important information -->

  <div class="row">
    <%= f.input :building_type, collection: ["appartment","house"], label: 'Building type', required: true %>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <%= f.input :number_of_rooms, label: 'How many sleeping rooms does the building have?', required: true, input_html: { value: '2', min: '0', step: 'any' } %>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <%= f.input :number_of_roommates, label: 'How many roommates are living here at the moment?', required: true, input_html: { value: '1', min: '0', step: 'any' } %>
    </div>
  </div>
  <div class="row" id="notify_inline">
    <h4></h4><br>
  </div>

  <!-- address -->

  <div class="row">
    <div class="form-group">
      <%= f.input :location, input_html: { id: 'gmaps-input-address'}, placeholder: 'Start typing a place name...', class: 'form-control' %>

      <div id='gmaps-error'></div>
    </div>
  </div>


  <!-- optional information -->

  <div class="row">
    <div class="col-sm-5">
    <%= f.input :garden, label: 'Has a garden ?', required: false %>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
    <%= f.input :balcony, label: 'Has a balcony ?', required: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
    <%= f.input :garage, label: 'Has a parking spot ?', required: false %>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
    <%= f.input :bike_storage, label: 'Has a bike storage ?', required: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
    <%= f.input :pets, label: 'Has or allows pets ?', required: false %>
    </div>
    <div class="col-sm-2">
    </div>
  <!-- todo: seperate allow and has pets -->
  <!-- todo: parking spot linked to room, not building -->
    <div class="col-sm-5">
    <%= f.input :cleaning, label: 'Has cleaning help ?', required: false %>
    </div>
  </div>
