<div class="container-fluid">

  <div class="aside slideMenuLeft">
    <ul>
      <li>aaaa</li>
      <li>aaaa</li>
      <li>aaaa</li>
      <li>aaaa</li>
      <li>aaaa</li>
      <li>aaaa</li>
    </ul>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8 padded-di">

      <% if @all_rooms.size <= 0 %>
        <br>no rooms yet... wait for new offers!
      <% elsif @new_rooms.size <= 0 %>
        <br>No more new rooms!
        <%= link_to "Reset?", destroy_evals_user_path(current_account.user) %>

      <% else %>
        <br><%= @new_rooms.size.to_s %> new rooms:
        <% if !@new_room.nil? %>
          <div class="row">
          <%= render partial: 'rooms/show', locals: { local_room: @new_room, local_user: @user } %>
          </div>
        <% else %>
          something wrong with the room...
        <% end %>
      <% end %>

    </div>
    <div class="col-sm-3 padded-di-left">

      <br><%= @liked_rooms.size.to_s %> liked rooms:
      <% if !@all_evals.nil? && @all_evals.size > 0 %>
        <% @all_evals.each do |e| %>
          <% if !e.nil? && e.status %>
          <div class="row">
            <%= render partial: 'rooms/small_show', locals: { eval: e, local_user: @user } %>
          </div>
          <% end %>
        <% end %>
      <% end %>

       <div id='toggleAside' style="visibility:hidden;">Toggle</div>

    </div>
  </div>
</div>

<!-- JQUERY SECTION -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(
    function(){
        $("#toggleAside").click(function(){
         $(".aside").toggleClass("slideMenuLeft");
        })
    });
  <% end %>
<% end %>
