<!-- BACKGROUND SECTION -->

<% content_for(:before_container) do %>


<div class="row">

  <!-- MENU LEFT --><br>

  <div class="col-sm-2 border-right">

    <div class="row">
      <div class="card-image col-sm-10 col-sm-offset-1">

        <div class="row">
          <span style="float:right;">
            <% if @all_rooms.size <= 0 %>
              No rooms yet... List yours?
            <% elsif @new_rooms.size <= 0 %>
              No more new rooms!
              <%= link_to "Reset?", destroy_evals_user_path(current_account.user) %>
            <% else %>
              <%= @new_rooms.size.to_s %>
              <% if @new_rooms.size > 1 %>
                new rooms
              <% else %>
                new room
              <% end %>
            <% end %>
          </span>
        <br><br>
        </div>



        <div class="row">
          <p><b>City</b></p>
          <input type="text" placeholder="Brussel" class="form-control"/>

        </div>
        <div class="row">
          <br>
          <p><b>Start date</b></p>
          <input type='date' value="2015-04-07" class="form-control" />
        </div>
        <div class="row">
          <br>
          <p><b>End date</b></p>
          <input type="date" value="2015-07-07" class="form-control" />
        </div>
        <div class="row">
          <br>
          <p><b>Optional</b></p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Roommates?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Furnished?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Worker?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Random
          </label>
        </div>

      <br>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sm-offset-1">

  <!-- NEW ROOM SECTION --><br>

  <% if !@new_room.nil? %>
  <div class="row" id="newroom">
  <%= render partial: 'rooms/show', locals: { local_room: @new_room, local_user: @user } %>
  </div>

  <div class="row ghost">
    <div class="card" id="ghost1">
      <div class="card-image">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row ghost">
    <div class="card" id="ghost2">
      <div class="card-image">
        &nbsp;
      </div>
    </div>
  </div>

  <% end %>

  </div>

  <!-- LIKED ROOMS SECTION -->

  <div class="col-sm-2 col-sm-offset-1 border-left">
    <div class="row">
      <div class="card-image col-sm-10 col-sm-offset-1">

        <div class="row">
        <% if @liked_rooms.size > 1 %>
          <%= @liked_rooms.size.to_s %> liked rooms
        <% elsif @liked_rooms.size > 0 %>
          1 liked room
        <% else %>
          Start liking rooms!
        <% end %>
        </div>

        <% if !@all_evals.nil? && @all_evals.size > 0 %>
          <% @all_evals.each do |e| %>
            <% if !e.nil? && e.status %>
            <div class="row">
              <%= render partial: 'rooms/small_show', locals: { eval: e, local_user: @user } %>
            </div>
            <% end %>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(window).on('resize', function(){
      setghosts();
    })

    $(document).on('ready', function() {
      setghosts();
    })

    function setghosts(){
      $('#ghost1').css({ width: $('#newroom').width()-100 });
      $('#ghost1').css({ height: $('#newroom').height()+192 });
      $('#ghost1').css({ 'margin-left': '5%' });
      $('#ghost1').css({ 'margin-right': '5%' });
      $('#ghost1').css({ 'margin-top': -$('#newroom').height()-202 });
      $('#ghost1').css({ 'visibility': 'visible' });

      $('#ghost2').css({ width: $('#newroom').width()-180 });
      $('#ghost2').css({ height: $('#newroom').height()+210 });
      $('#ghost2').css({ 'margin-left': '10%' });
      $('#ghost2').css({ 'margin-right': '10%' });
      $('#ghost2').css({ 'margin-top': -$('#newroom').height()-210 });
      $('#ghost2').css({ 'visibility': 'visible' });
      $('#ghost2').css({ 'z-index': '-101' });
    }

  <% end %>
<% end %>
