<%= simple_form_for([@user, @building],  html: { novalidate: true, role: "form" }) do |f| %>

      <!-- left: BUILDING -->

      <div class="col-sm-2 my-left-bar">
        &nbsp;
      </div>

      <div class="col-sm-2">
        &nbsp;
      </div>

      <div class="col-sm-4" name="building">
        <div class="row">
          <div class="col-sm-12">
            <h3>The building:</h3><br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= render partial: 'form', locals: { f: f } %>
          </div>
        </div>
      </div>

      <!-- middle: SPACE -->

      <div class="col-sm-1"></div>

      <!-- right: ROOMS -->

      <div class="col-sm-4" name="rooms">

        <div class="row">
          <div class="col-sm-12" id="notify_me">
            <h3></h3>
          </div>
        </div>

        <% @room_array.each_with_index do |room, i| %>
          <div class="row">
            <div class="col-sm-12 room-card" id="room<%= i + 1 %>">
              <%= render partial: "rooms/form", locals: { f: f, i: (i+1), room: room } %>
            </div>
          </div>
        <% end %>

      </div>

      <!-- right: SPACE -->

      <div class="col-sm-1"></div>

      <!-- floating button -->

      <div class="final-button"><br>
        <%= f.submit "submit", value: "done", id: "submitter" %>
      </div>

    <% end %>




<!-- JQUERY SECTION -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){

      <!-- for auto-name -->

      var user_touched_name = false;
      var user_touched_room_name = false;
      var rooms_a = {};
      set_room_ids();

      $('*').not('#optional_name').on('input click', function(){
        if ($('#optional_name').val().length == 0 || user_touched_name == false){
          $('#optional_name').val($('#gmaps-input-address').val()).trigger('change');
        }
      });

      $('#optional_name').bind('keydown', function(){
        user_touched_name = true;
      });

      $('.optional_room_name').bind('keydown', function(){
        rooms_a[$(this).attr('name').replace('room_name','')] = 1;
      });

      $('#optional_name').on('input change', function(){
        set_room_text();
      });

      function set_room_text(){
        $('.optional_room_name').each(function( i ){
          if ($(this).val().length == 0 || rooms_a[$(this).attr('name').replace('room_name','')] == 0){

          if ($('#optional_name').val().length == 0){
            $(this).val($(this).closest('.room-card').attr('id'));
          } else {
            $(this).val($('#optional_name').val() + " : " + $(this).closest('.room-card').attr('id'));
          }

          }
        });
      }

      function set_room_ids(){
        $('.optional_room_name').each(function( index ){
          $(this).attr('name', "room_name" + (index + 1));
          rooms_a[index + 1] = 0;
        });
      }

      <!-- for spare rooms generation -->

      var spare_rooms = 0;
      calculate();
      add_rooms_html();

      $('#building_number_of_rooms').change(function(){
        calculate();
        add_rooms_html();
      });

      $('#building_number_of_roommates').change(function(){
        calculate();
        add_rooms_html();
      });

      function calculate(){
        var n_rooms = $('#building_number_of_rooms').val();
        var n_roommates = $('#building_number_of_roommates').val();
        spare_rooms = n_rooms - n_roommates;

      }

      function add_rooms_html(){
        console.log(spare_rooms);

        switch(spare_rooms) {
          case 5:
            $("#room1").css("visibility", "visible");
            $("#room2").css("visibility", "visible");
            $("#room3").css("visibility", "visible");
            $("#room4").css("visibility", "visible");
            $("#room5").css("visibility", "visible");
            $("#notify_me > h3").html("Rooms:");
            $("#notify_inline > h4").html("5 rooms for rent").css("color", "black");
            break;
          case 4:
            $("#room1").css("visibility", "visible");
            $("#room2").css("visibility", "visible");
            $("#room3").css("visibility", "visible");
            $("#room4").css("visibility", "visible");
            $("#room5").css("visibility", "hidden");
            $("#notify_me > h3").html("Rooms:");
            $("#notify_inline > h4").html("4 rooms for rent").css("color", "black");
            break;
          case 3:
            $("#room1").css("visibility", "visible");
            $("#room2").css("visibility", "visible");
            $("#room3").css("visibility", "visible");
            $("#room4").css("visibility", "hidden");
            $("#room5").css("visibility", "hidden");
            $("#notify_me > h3").html("Rooms:");
            $("#notify_inline > h4").html("3 rooms for rent").css("color", "black");
            break;
          case 2:
            $("#room1").css("visibility", "visible");
            $("#room2").css("visibility", "visible");
            $("#room3").css("visibility", "hidden");
            $("#room4").css("visibility", "hidden");
            $("#room5").css("visibility", "hidden");
            $("#notify_me > h3").html("Rooms:");
            $("#notify_inline > h4").html("2 rooms for rent").css("color", "black");
            break;
          case 1:
            $("#room1").css("visibility", "visible");
            $("#room2").css("visibility", "hidden");
            $("#room3").css("visibility", "hidden");
            $("#room4").css("visibility", "hidden");
            $("#room5").css("visibility", "hidden");
            $("#notify_me > h3").html("Room:");
            $("#notify_inline > h4").html("1 room for rent").css("color", "black");
            break;
          case 0:
            $("#room1").css("visibility", "hidden");
            $("#room2").css("visibility", "hidden");
            $("#room3").css("visibility", "hidden");
            $("#room4").css("visibility", "hidden");
            $("#room5").css("visibility", "hidden");
            $("#notify_me > h3").html("No rooms for rent ?");
            $("#notify_inline > h4").html("No rooms for rent").css("color", "red");
            break;
          default:
            $("#notify_me > h3").html("let's start with 5 already");
            $("#notify_inline > h4").html("max 5 rooms").css("color", "red");
            console.log("let's start with 5 already");
          }
        }

    });
  <% end %>
<% end %>


<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
                    <span class="card-title">Material Cards</span>
                </div>

                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>

                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
