<div class="col s12">
<%= simple_form_for([user, building, room], html: { class: 'form-horizontal' }, html: { novalidate: true, role: "form" }) do |f| %>


  <div class="col s8">
    <div class="row">
      <div class="input-field col s6">
        <%= f.input :optional_name, label: "Optional room name", input_html: { id: 'optional_room_name' }, required: false %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <%= f.input :price, label: "Price in EUR", required: true %>
      </div>
      <div class="col s2">
      </div>
      <div class="input-field col s5">
        <%= f.input :square_meter, label: "Square meter", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s5">
        <%= f.input :available_from, label: 'Available from:', required: true %>
      </div>
      <div class="col s2">
      </div>
      <div class="input-field col s5">
        <%= f.input :months_available, label: 'Months available', required: true %>
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="row">
      <%= f.input :private_bathroom, label: 'Private bathroom?', required: false %>
    </div>
    <div class="row">
      <%= f.input :private_kitchen, label: 'Private kitchen?', required: false %>
    </div>
    <div class="row">
      <%= f.input :private_balcony, label: 'Private balcony?', required: false %>
    </div>
    <div class="row">
      <%= f.input :private_garden, label: 'Private garden?', required: false %>
    </div>
    <div class="row">
      <%= f.input :private_parking, label: 'Private parking?', required: false %>
    </div>
  </div>

<% end %>

</div>
