<div class="col-sm-12 card">
  <%= f.simple_fields_for :room do |r| %>

  <%= local_assigns[:i] %>
  <%= local_assigns[:room] %>

  <div class="col-sm-8">
    <div class="row">

      <!-- TODO: optional name makes parameter not being sent -->

      <div class="col-sm-12">
        <%= r.input :optional_name, label: "Optional room name", input_html: { name: "building[room"+i.to_s+"][optional_name]" }, class: 'optional_room_name', required: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <%= r.input :price, input_html: { name: "building[room"+i.to_s+"][price]" }, label: "Price in EUR", required: true %>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-5">
        <%= r.input :square_meter, input_html: { name: "building[room"+i.to_s+"][square_meter]" }, label: "Square meter", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <%= r.input :available_from, as: :date_picker, input_html: {name: "building[room"+i.to_s+"][available_from]", data: {date_options: {defaultDate: Date.today, disabledDates: [Date.today - 700, Date.today.prev_day]}}}, label: 'Available from:', required: true %>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-5">
        <%= r.input :months_available, input_html: { name: "building[room"+i.to_s+"][months_available]" }, label: 'Months available', required: true %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 addpaddingleft">
    <div class="row">
      <%= r.input :private_bathroom, input_html: { name: "building[room"+i.to_s+"][private_bathroom]" }, label: 'Private bathroom?', as: :boolean, required: false %>
    </div>
    <div class="row">
      <%= r.input :private_kitchen, input_html: { name: "building[room"+i.to_s+"][private_kitchen]" }, label: 'Private kitchen?', as: :boolean, required: false %>
    </div>
    <div class="row">
      <%= r.input :private_balcony, input_html: { name: "building[room"+i.to_s+"][private_balcony]" }, label: 'Private balcony?', as: :boolean, required: false %>
    </div>
    <div class="row">
      <%= r.input :private_garden, input_html: { name: "building[room"+i.to_s+"][private_garden]" }, label: 'Private garden?', as: :boolean, required: false %>
    </div>
    <div class="row">
      <%= r.input :private_parking, input_html: { name: "building[room"+i.to_s+"][private_parking]" }, label: 'Private parking?', as: :boolean, required: false %>
    </div>
  </div>

<% end %>

</div>
