<% if local_assigns.has_key? :local_room %>
  <% room = local_room %>
<% end %>
<% if local_assigns.has_key? :local_user %>
  <% user = local_user %>
<% end %>

<div class="card">
  <div class="card-image" id="main-content">
    <div class="row">

      <% room.room_pictures.each do |rpic| %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 img-wrap">

          <%= image_tag rpic.file.url(:medium), class: "img-responsive" %>

        </div>
      <% end %>
      <% if room.room_pictures.size == 0 %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= image_tag "empty.png", class: "img-responsive" %>
        </div>
      <% end %>
    </div>

    <span class="card-title"><strong><%= room.optional_name %></strong></span>

  </div>

  <div class="card-content">
    <div class="row">
      <!-- ROOMS FORM -->
      <!-- <div class="card row"> -->
      <div class="card-image col-sm-10 col-sm-offset-1">
        <div class="row form-inputs">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="">

                  <%= room.price %>

                </div>
              </div>
              <div class="col-sm-5 col-sm-offset-1">
                <div class="input-group">

                  <%= room.square_meter %>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">

                <%= room.available_from %>

              </div>
              <div class="col-sm-5 col-sm-offset-1">

                <%= room.months_available %>

              </div>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="row">

              <%= room.private_bathroom ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
              Private Bathroom

            </div>
            <div class="row">
              <%= room.private_kitchen ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
              Private Kitchen
            </div>
            <div class="row">
              <%= room.private_balcony ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
              Private Balcony
            </div>
            <div class="row">
              <%= room.private_garden ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
              Private Garden
            </div>
            <div class="row">
              <%= room.private_parking ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
              Private Parking
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-action">
    <% if account_signed_in? && current_account.user.present? && current_account.user == room.building.user %>
      <%= link_to "Edit" , edit_user_building_room_path(room.building.user, room.building, room) %>
      <%= link_to "Publish" , edit_user_building_room_path(room.building.user, room.building, room) %>
    <% else %>
      <div class="row">
        <div class="col-sm-6 like-it">
        <%= link_to ("<i class='fa fa-heart fa-4x' style='color: red;'></i>").html_safe, root_path %>
        </div>
        <div class="col-sm-6 like-it">
        <%= link_to ("<i class='fa fa-times fa-4x' style='color: black;'></i>").html_safe, root_path %>
        </div>
      </div>
    <% end %>
  </div>

</div>
