<!-- TODO: SEPERATE EDIT AND INDEX SHOW ROOM -->

<% if local_assigns.has_key? :local_room %>
  <% room = local_room %>
<% end %>
<% if local_assigns.has_key? :local_user %>
  <% user = local_user %>
<% end %>

<div class="card">

  <!-- ROOM IMAGES SECTION -->

  <div class="card-image">
    <div class="row">
      <div class="owl-carousel">
        <% room.room_pictures.each do |rpic| %>
        <div><%= image_tag rpic.file.url(:medium), height: '200' %></div>
        <% end %>
      </div>

      <% if room.room_pictures.size == 0 %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= image_tag "empty.png", class: "img-responsive" %>
        </div>
      <% end %>
    </div>

    <span class="card-title"><strong><%= room.optional_name %></strong></span>

  </div>

  <!-- ROOM DETAILS SECTION -->

  <div class="card-content">
    <div class="row">
      <div class="card-image col-sm-10 col-sm-offset-1">

        <!-- price & availabilities -->

        <div class="col-sm-6">
          <div class="row">
            <strong>Price:</strong>
            <span class="<%= 'missing' if !room.price.present? %>"><%= room.price %>&nbsp;Eur / month</span>
          </div>
          <div class="row">
            <strong>Surface:</strong>
            <span class="<%= 'missing' if !room.square_meter.present? %>"><%= room.square_meter.to_s %>&nbsp;Sqm</span>
          </div>
          <div class="row">
            <strong>Available from:</strong>
            <span class="<%= 'missing' if !room.available_from.present? %>"><%= room.available_from %>&nbsp;</span>
          </div>
          <div class="row">
            <strong>For maximum:</strong>
            <span class="<%= 'missing' if !room.months_available.present? %>"><%= room.months_available %>&nbsp;months</span>
          </div>
        </div>

        <!-- attributes -->

        <div class="col-sm-5 col-sm-offset-1">
          <div class="row">

            <%= room.private_bathroom ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
            Private Bathroom

          </div>
          <div class="row">
            <%= room.private_kitchen ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
            Private Kitchen
          </div>
          <div class="row">
            <%= room.private_balcony ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
            Private Balcony
          </div>
          <div class="row">
            <%= room.private_garden ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
            Private Garden
          </div>
          <div class="row">
            <%= room.private_parking ? ("<i class='fa fa-check fa-1x' style='color: green;'></i>").html_safe : ("<i class='fa fa-times fa-1x' style='color: black;'></i> No").html_safe %>
            Private Parking
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ROOMMATES SECTION -->

  <div class="card-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <% if room.building.user.user_pictures.first.present? %>
          <%= image_tag room.building.user.user_pictures.first.file.url(:thumb), class: "img-avatar2" %>
        <% end %>
      <span class="img-avatar2-span">&nbsp;</span>
      <span><b><%= room.building.user.first_name %></b>
        <% mates = room.building.number_of_roommates - 1 %>
        <b><% if mates == 1 %>
          + 1 other
        <% elsif mates >= 2 %>
          + <%= mates.to_s %> others
        <% end %></b></span>
      </div>
    </div>
  </div>

  <!-- MAPS SECTION -->

  <div class="card-image">
    <div id="map<%= room.id %>" style="width: 100%; height: 200px;"></div>
  </div>

  <!-- ACTIONS SECTION -->

  <div class="card-action">

  <!-- user signed in -->
  <% if account_signed_in? && current_account.user.present? %>

    <!-- room is from current account -->
    <% if current_account.user == room.building.user %>


      <!-- edit -->

      <%= link_to ("<i class='fa fa-pencil-square-o fa-1x'>&nbsp;&nbsp;Edit</i>").html_safe, edit_user_building_room_path(current_account.user, room.building, room) %>

      <!-- publish if room is valid -->

      <% if room.published_room %>

      <!-- un-publish -->

        <%= link_to ("<i class='fa fa-share-square-o fa-1x card-action-negative'>&nbsp;&nbsp;Un-publish</i>").html_safe, unpublish_user_building_room_path(current_account.user, room.building, room), :confirm => "Are you sure? This room won't be visibile to users anymore..." if room.published_room %>

      <% else %>

        <!-- publish -->

        <%= link_to ("<i class='fa fa-share-square-o fa-1x'>&nbsp;&nbsp;Publish</i>").html_safe, publish_user_building_room_path(current_account.user, room.building, room) if room.valid_room %>

      <% end %>

    <!-- room is from someone else -->
    <% else %>
      <div class="row">

        <!-- negative evaluation -->

        <div class="col-sm-6 like-it">
        <%= link_to ("<i class='fa fa-times fa-4x' style='color: #B73126;'></i>").html_safe,  user_building_room_evaluations_path(current_account.user, room.building, room, eval: false), method: :post %>
        </div>

        <!-- positive evaluation -->

        <div class="col-sm-6 like-it">
        <%= link_to ("<i class='fa fa-check fa-4x' style='color: #24846C;'></i>").html_safe,  user_building_room_evaluations_path(current_account.user, room.building, room, eval: true), method: :post %>
        </div>

      </div>
    <% end %>

  <!-- no user signed in -->

  <% else %>

    <div class="row">
      <div class="col-sm-6 like-it">
      <%= link_to ("<i class='fa fa-times fa-4x' style='color: gray;'></i>").html_safe, "#" %>
      </div>
      <div class="col-sm-6 like-it">
      <%= link_to ("<i class='fa fa-check fa-4x' style='color: gray;'></i>").html_safe, "#" %>
      </div>
    </div>

  <% end %>

  <% if account_signed_in? && current_account.user.present? && current_account.user == room.building.user %>
      <% if room.published_room %>
          <span class="valid-span"><i class='fa fa-toggle-on fa-1x' style="color:green"></i>&nbsp;&nbsp;Room is published and visible for searchers</span>
      <% elsif room.valid_room %>
          <span class="valid-span"><i class='fa fa-toggle-off fa-1x' style="color:orange"></i>&nbsp;&nbsp;Room is valid and ready for publishing</span>
      <% else %>
          <span class="valid-span"><i class='fa fa-toggle-off fa-1x' style="color:red"></i>&nbsp;&nbsp;Room must be edited in order to be published...</span>
      <% end %>
    <% end %>

  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    $('.owl-carousel').owlCarousel({
        margin:10,
        loop:true,
        autoWidth:true,
        items:<%= room.room_pictures.size %>
    })

    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map<%= room.id %>' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
      });
    })
  <% end %>
<% end %>
