<% if local_assigns.has_key? :eval %>
  <% room = eval.room %>
  <% owner_evaluated = eval.owner_evaluated %>
<% end %>
<% if local_assigns.has_key? :local_user %>
  <% user = local_user %>
<% end %>
<% if local_assigns.has_key? :local_room %>
  <% room = local_room %>
<% end %>

<div class="card">
  <div class="card-image">
    <div class="row">

      <% room.room_pictures.each_with_index do |rpic, i| %>
        <% if i < 4 %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

          <%= image_tag rpic.file.url(:thumb), height: '70' %>

        </div>
        <% end %>
      <% end %>
      <% if room.room_pictures.size == 0 %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <%= image_tag "empty.png", class: "img-responsive" %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="card-content">
    <div class="row">

      <!-- ROOMS FORM -->
      <div class="card-image col-sm-10 col-sm-offset-1">
        <div class="row other-title">
          <b><%= room.optional_name %></b>
        </div>
        <div class="row">
          <b>Price:</b>
          <span class="<%= 'missing' if !room.price.present? %>"><%= room.price %>&nbsp;Eur</span>
        </div>
        <div class="row">
          <b>Surface:</b>
          <span class="<%= 'missing' if !room.square_meter.present? %>"><%= room.square_meter.to_s %>&nbsp;Sqm</span>
        </div>

      </div>
    </div>
  </div>
  <% if local_assigns.has_key? :eval %>
  <div class="card-action">

    <% if owner_evaluated == true %>
      <span style="color:green">match! owner liked you.</span>
    <% elsif owner_evaluated == false %>
      <span style="color:red">your interest has been denied.</span>
    <% else %>
      <span style="color:orange">awaiting owner response...</span>
    <% end %>

  </div>
  <% end %>
</div>
